* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: table;
}

.ckearfix::after {
    clear: both;
}

body {
    background-color: #f3f5f7;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 101px;
}

.header h1 a {
    float: left;

    margin-right: 79px;
}

.header h1 img {
    margin-top: 30px;
}

.header .nav {
    float: left;
    margin-right: 52px;
}

.header li {
    float: left;
    
    margin-right: 42px;
}

.header .nav a {
    line-height: 101px;
    text-align: center;
    color: #050505;
    letter-spacing: 2px;
}

.header .search {
    float: left;

    margin-top: 31px;
    margin-right: 31px;
    width: 412px;
    height: 40px;
    border: 1px solid #00a4ff;
}

.header form {
    width: 412px;           /*ensure the size of the form*/
}

.header input {
    float: left;
    width: 360px;
    height: 38px;
    border: 0;
    outline: none;
    background-color: #f3f5f7;

    text-indent: 21px;
    color: #bfbfbf;
}

.header button {
    float: left;

    width: 50px;
    height: 38px;
    border: 0;
    
    background-image: url(../images/btn.png);
}

.header .user img {
    vertical-align: middle;
}

.header .user span {
    font: 14px MicrosoftYaHei;
    color: #666666;
    line-height: 101px;
    letter-spacing: 1px;
}

.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .wrapper {
    height: 420px;
    background-image: url(../images/banner2.png);
}

.banner .left {
    float: left;

    padding: 28px 20px;
    width: 190px;
    height: 420px;
    background-color: rgba(0,0,0,0.3);
}

.banner .left a {
    display: inline-block;

    width: 150px;
    height: 43.75px;

    color: #fff;
    font: 14px MicrosoftYaHei;
    letter-spacing: 1px;
    padding-bottom: 29.75px;
}

.banner .left span {
    float: right;
}

.banner .left a:last-child {
    padding-bottom: 0;
}

.banner .left a:hover {
    color: #00b4ff;
}

.banner .wrapper .right {
    float: right;

    width: 228px;
    height: 300px;
    background-color: #fff;
    margin-top: 50px;
}

.banner .wrapper .right h3 {    width: 228px;
    height: 48px;
    background-color: #9bceea;
    margin-bottom: 2px;
    
    line-height: 48px;
    text-align: center;
    color: #fff;
    letter-spacing: 2px;
    font-size: 18px;
}

/* .banner .wrapper .right li {
    float: left;

    height: 61px;
    width: 228px;
} */

.banner .wrapper .right a {
    display: inline-block;

    margin-left: 18px;
    margin-right: 18px;
    padding: 8px 0 12px;
    border-bottom: 2px solid #e5e5e5;

    font: 700 16px FZLTCXHJW--GB1-0;
    color: #4e4e4e;
}

.banner .wrapper .right span {
    margin-left: 6px;
    font-size: 14px;
    font-weight: 400;
}

.banner .wrapper .right h4 {
    display: inline-block;

    padding-top: 4px;
    font-size: 12px;
    color: #a5a5a5;
}

.banner .wrapper .right button {
    margin: 4px 14px 0;
    width: 200px;
    height: 42px;
    border: 1px solid #00a4ff;
    background-color: #fff;
    font: 700 16px MicrosoftYaHei;
    color: #00a4ff;
}

.recommend.wrapper {
    height: 60px;
    margin-top: 8px;
    background-color: #fff;
    box-shadow: 0 2px 3px 0 rgba(118, 118, 118, 0.2);
}

.recommend h4 {
    float: left;

    padding: 22px 33px;
    font: 700 16px MicrosoftYaHei;
    color: #00a4ff;
}

.recommend a {
    float: left;

    margin: 22px 0;
    padding: 0 35px;
    border-left: 1px solid #bfbfbf;
    color: #050505;
    font-family: MicrosoftYaHei;
}

.recommend li:last-child a{
    float: right;

    padding-right: 26px;;
    border-left: 0;
    font-size: 14px;
    color: #00a4ff;
}

.goods {
    /* float: left; */
    
    /* margin-top: 37px; */
    padding-top: 37px;
}

.goods .title {
    height: 40px;
}

.goods .title .left {
    float: left;

    font: 20px MicrosoftYaHei;
    color: #494949;
}

.goods .title .right a{
    float: right;

    margin-top: 8px;
    margin-right: 31px;
    font: 12px MicrosoftYaHei;
    color: #a5a5a5;
}

.goods .video {
    font-size: 0;
}

.goods .video ul {
    font-size: 0;
}

.goods .video li {
    /* float: left; */
    display: inline-block;

    position: relative;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}

.goods .video img.main {
    /* float: left; */

    width: 228px;
    height: 155px;
}

.goods .video img.hot {
    float: left;
    position: absolute;

    top: 4px;
    right: -3px;
}

.goods .video li:nth-child(5n){
    margin-right: 0;
}

.goods .video h3 {
    float: left;

    padding: 25px 20px 0 24px;
    width: 228px;
    height: 77px;

    font: 14px MicrosoftYaHei;
    color: #050505;
}


/*for all similar content*/
.detail {
    float: left;

    margin-left: 23px;
    font: 12px MicrosoftYaHei;
    color: #ff7c2d;
}

.detail span {
    margin-left: 8px;
    color: #999;
}


.newbie.wrapper {
    /* float: left; */

    margin-top: 38px;
    font-size: 0;
}

.newbie .title {
    /* float: left; */

    /* width: 1200px; */
    height: 40px;
}

.newbie .title .left {
    float: left;
    
    font: 20px MicrosoftYaHei;
    color: #494949;
}


/* .newbie .title ul {
    float: left;

    margin-left: 352px;
} */

.newbie .title a {
    float: left;

    margin-top: 5px;
    margin-right: 71px;
    color: #868686;
}

.newbie .title a:hover {
    color: #00a4ff;
}

.newbie .title li:first-child a {
    margin-left: 352px;
}

.newbie .title li:last-child a {
    margin-right: 0;
}

.newbie .title .right a {
    float: right;

    margin-top: 5px;
    margin-right: 31px;
    font-size: 12px;
    color: #a5a5a5;
}

/* .newbie .video {
    float: left;
} */

.newbie .video {
    width: 1200px;
}

.newbie .video .left {
    /* float: left; */
    display: inline-block;

    margin-right: 14px;
    vertical-align: top;
    /*margin-top: 22px; */
}

.newbie .video .left img {
    width: 228px;
    height: 392px;
}

.newbie .video .right {
    /* float: right; */
    display: inline-block;

    width: 957px;
    /* margin-top: 22px; */
    font-size: 0;
}

.newbie .video .right .header {
    /* float: left; */

    margin-bottom: 23px;
}

.newbie .video .right .header img{
    width: 957px;
    height: 100px;
}

.newbie .video .right li {
    /* float: left; */
    display: inline-block;
    
    vertical-align: top;
    width: 228px;
    height: 270px;
    margin-right: 15px;
    /* margin-bottom: 15px; */
    background-color: #fff;
}

.newbie .video .right a img {
    width: 228px;
    height: 154px;
}

.newbie .video .right li:nth-child(4n) {
    margin-right: 0;
}

.newbie .video .right h3 {
    width: 228px;
    height: 77px;
    padding: 25px 20px 0 24px;
    
    font: 14px MicrosoftYaHei;
    color: #050505;
}

.mechanic.wrapper {
    /* float: left; */

    margin-top: 41px;
}

.mechanic .title {
    /* float: left; */

    /* width: 1200px; */
    height: 41px;
}

.mechanic .title .left {
    float: left;

    font: 20px MicrosoftYaHei;
    color: #494949;
}

.mechanic .title a {
    float: left;

    margin-right: 71px;
    color: #868686;
}

.mechanic .title a:hover {
    color: #00a4ff;
}

.mechanic .title li:first-child a {
    margin-left: 291px;
}

.mechanic .title li:last-child a {
    margin-right: 0;
}

.mechanic .title .right a{
    float: right;

    margin-top: 5px;
    margin-right: 31px;
    color: #a5a5a5;
    font-size: 12px;
}

/* .mechanic .video {
    float: left;

    width: 1200px;
    margin-top: 41px;
} */

.mechanic .video ul {
    font-size: 0;
}

.mechanic .video li {
    /* float: left; */
    display: inline-block;
    
    margin-right: 15px;
    width: 228px;
    height: 270px;
    background-color: #fff;
}

.mechanic .video a img {
    float: left;
    
    width: 228px;
    height: 154px;
}

.mechanic .video a h3 {
    float: left;

    height: 77px;
    padding: 25px 20px 0 24px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.mechanic .video li:nth-child(5n) {
    margin-right: 0;
}

.frontframe.wrapper {
    margin-top: 39px;
}

.frontframe .title {
    height: 41px;
}

.frontframe .title .left {
    float: left;

    margin-right: 291px;
    font-size: 20px;
    color: #494949;
}

.frontframe .title li {
    float: left;

    margin-right: 71px;
}

.frontframe .title li a {
    color: #868686;
}

.frontframe .title li:hover a{
    color: #00a4ff;
}

.frontframe .title li:last-child {
    margin-right: 0;
}

.frontframe .title .right a{
    float: right;

    margin-right: 31px;
    color: #a5a5a5;
    font-size: 12px;
}

.frontframe .video ul {
    font-size: 0;
}

.frontframe .video li {
    display: inline-block;

    width: 228px;
    height: 270px;
    margin-right: 15px;
    background-color: #fff;
}

.frontframe .video li:nth-child(5n) {
    margin-right: 0;
}

.frontframe .video li img{
    float: left;

    width: 228px;
    height: 156px;
}

.frontframe .video li h3 {
    float: left;

    height: 77px;
    padding: 25px 20px 0 23px;
    color: #050505;
    font: 400 14px MicrosoftYaHei;
}

.footer {
    margin-top: 40px;
    height: 417px;
    background-color: #fff;
}

.footer .wrapper {
    padding-top: 33px;
}

.footer .left {
    float: left;

    height: 384px;
}

.footer .left .logo {
    margin-bottom: 24px;
}

.footer .left span {
    display: inline-block;

    margin-bottom: 15px;
    font-size: 12px;
    color: #666;
}

.footer .left button {
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    background-color: #fff;
    color: #00a4ff;
    line-height: 36px;
    text-align: center;
}

.footer .right dl {
    float: right;

    margin-right: 123px;
    font-size: 0;
}

.footer .right dl:first-child {
    margin-right: 0;
}

.footer .right dt {
    margin-bottom: 15px;
    font: 16px MicrosoftYaHei;
    color: #666;
}

.footer .right dd a{
    display: inline-block;

    height: 21px;
    font: 12px MicrosoftYaHei;
    color: #333;
}

.footer .right dd a:hover {
    color: #00a4ff;
}